<nav class="navbar navbar-expand-lg navbar-dark sticky-top px-5">
    <div class="container-fluid">
      <a class="navbar-brand mx-3" href="/"><img id="spice-icon" src="../../img/spice-icon.png"></a>
      
      <div class="dropdown text-white">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
        </button>
      <div class="dropdown-menu dropdown-menu-right ">
        <button class="dropdown-item" type="button" onclick="window.location.href = '/cookbook'">My Recipes</button>
        <button class="dropdown-item" type="button" onclick="window.location.href = '/search'">Search Recipes</button>
        <button class="dropdown-item" type="button" onclick="window.location.href = '/signup'">Sign In</button>
        <button class="dropdown-item" type="button" onclick="window.location.href = '/profile'">Profile</button>
        <li class="nav-item">
          <a class="dropdown-item" type="button" href="/logout">Logout</a>
        </li>
      </div>
    </div>
    </div>

</nav>
