<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head.ejs') %>
  <title>Spice | Cookbook </title>
  
</head>
<body>
  <%- include('partials/nav.ejs') %> 
  <div id="login-form" class="form-inline text-center">
    <div class="login-card shadow rounded">
      <h1 class="login-text">Profile</h1>
      <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
       </div>
        <input id="profile-user" type="text" class="form-control" value="<%=user%>" name="username" disabled>
        <button type="submit" class="btn btn-primary" onclick="userEdit()">Edit</button>
      </div>
      <input id="profile-pass" type="password" class="form-control" placeholder="new password" name="password">
      
      <button onclick="updateProfile()" class="btn btn-success mt-3">Save</button>
      
    </div>
  </div>

    
    <!-- <h1 id="cookbook-title" class="text-center mt-3">Profile</h1>
  <form id="login-form" class="form-inline">
    <div>

      <input class="text-center" type="text" value="Josue-SR" disabled>
      <span>
        <button id="button-form" type="submit" class="btn btn-primary mx-2 mb-2">Edit</button>
      </span>
    </div>
  </form> -->
  <%- include('partials/footer.ejs') %>
</body>
</html>